@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    background-origin: border-box;
}

body {
    font: 40 14px roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
    font: 40 14px roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input, form textarea {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea{
    min-height: 140px;
    padding: 16px 24px;
    line-height: 24px ;
    resize: vertical;
}

.button{
    width: 100%;
    height: 60px;  
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter .2s;
}

.button:hover{
    filter: brightness(80%);
}
